html {
    scroll-behavior: smooth;    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
/* SECTION 1 */
.section1{
    display: grid;
    grid-template-columns: 60% 40%;
    position: relative;
    height: 400px;
    overflow: hidden;
    padding-top:  48px;
}
.vector1{
    position: absolute;
    left: 0;
    top: 50%;
}
.vector2{
    position: absolute;
    top: 100%;
    right: 0;
    transform: translateY(-70%);
}
.section1__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section1__content h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
    color: #0C2440;
}
.section1__content h3{
    font-weight: 300;
    font-size: 25px;
    line-height: 33px;
    align-items: center;
    text-align: center;
    color: #06BAE8;
    margin: 0;
}
.btn__register{
    min-width: 274px;
    margin: 24px 0;
}
.btn__register a{
    width: 100%;
    background: linear-gradient(80.25deg, #3DFFC8 1.31%, #40F6CF 15.32%, #49DCE1 38.61%, #57B3FF 68.19%);
    box-shadow: 0px 4px 8px rgba(46, 153, 241, 0.5);
    border-radius: 20px;
    padding: 16px 24px;
    outline: none;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
.section1__logo{
    position: relative;
}
.section1__logo-background{
    width: 100%;
    height: 100%;
}
.phone__img{
    position: absolute;
    top: -15%;
    left: 5%;
}
/* SECTION 2 */
.section2{    
    display: grid;
    grid-template-columns: 10% 40% 50%;
    background-color: #0C2440;
}
.section2__title{
    font-weight: 700;
    font-size: 35px;
    line-height: 49px;
    color: #fff;
    text-align: center;
    background: linear-gradient(81.84deg, #49DCE1 1.09%, #39A3FB 96.86%);
    box-shadow: 0px 4px 8px rgba(46, 153, 241, 0.5);
    margin: 0;
    padding: 18px 16px;
    box-shadow: 0px 4px 8px rgba(46, 153, 241, 0.5);
    border-radius: 15px 15px 0px 0px;
}
.section2__form-wrapper{
    margin: 30px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
}
.section2__form-wrapper form{
    position: relative;;
    background-color: #fff;
    margin: 20px;
    display: inline-block;
    text-align: left;
}
.section2__form-course{
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    
}
.section2__form-checkbox{
    position: relative;
}
.section2__form-checkbox input label{
    position: absolute;
    left: 0;
}
.section2__form-wrapper form label{
    font-size: 25px;
}
.section2__form-label{
    text-align: center;
    top: 50%;
    color: #06BAE8;
}
.section2__form-input{
    font-size: 26px;
    height: 60px;
    width: 100%;
    border-color: #06BAE8;
}
.section2__form-course {
    display: flex;
}
.section2__form-check{
    margin-top: 10px;
    height: 40px;
    width: 40px;
    color: #06BAE8;
    font-size: 25px;
}
.section2__form-submit{
    width: 100%;
    background: linear-gradient(80.25deg, #3DFFC8 1.31%, #40F6CF 15.32%, #49DCE1 38.61%, #57B3FF 68.19%);
    box-shadow: 0px 4px 8px rgba(46, 153, 241, 0.5);
    border-radius: 20px;
    padding: 16px 24px;
    outline: none;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
}
.section2__logo{
    position: relative;
}
.vector3{
    position: absolute;
    top: 100%;
    right: 0;
    transform: translateY(-70%);
}
.phone1__img{
    position: absolute;
    top: 15%;
    left: 20%;
}
.vector4{
    position: absolute;
    top: 19%;
    left: 53%;
}
.vector5{
    position: absolute;
    top: 70%;
    left: 5%;
}
.vector6{
    position: absolute;
    top: 75%;
    left: 10%;
}
.vector7{
    position: absolute;
    top: 60%;
    left: 72%;
}
/* SECTION 3 */
.section3{
    position: relative;
}
.section3 h1{
    text-align: center;
    color: #606060;
}
.section3 h2{
    text-align: center;
    color: #999999;
}
.section3__container{
    text-align: center;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    display: flex;
    justify-content: space-around;
}
.section3__container span{
    font-weight: 500;
    color: #22BFE8;
}
.section3__container p{
    margin: 30px;
    text-align: justify;
}
.section3 .btn__container{
    position: relative;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    justify-content: space-around;
}
.section3 .btn__register{
    position: relative;
}
.section3 .btn__register a{
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/* RESPONSIVE */
@media only screen and (min-width: 1242px) and (min-height: 2688px){
    .container{
        display: none;
    }
    .iPhone{
        display: inline !important;
    }
    .iPhone__container{
        position: relative;
    }
    .iPhone__container-background{
        position: absolute;
        margin-top: 30%;
        margin-left: 35%;
    }
    .phone2__img{
        position: absolute;
        margin-top: 35%;
        margin-left: 42.5%;
    }
}